# Python
__pycache__/
*.pyc
*.pyo

# Entornos
.env
.venv/
venv/

# Logs y outputs
logs/
results/
outputs/
wandb/

# Modelos
*.pth
*.ckpt

# Datos
data/


# OS
.DS_Store
Thumbs.dbs

# notebooks
.ipynb_checkpoints
.vscode/
*.ipynb
rf*/
randomforest/
metrics/
